{{- $personal := false -}}
{{- "" -}}

{{- if stdinIsATTY -}}
{{- $personal = promptBoolOnce . "personal" "Store personal secrets on this machine" -}}
{{- end -}}

[data]
  personal = {{ $personal }}

[interpreters.ps1]
  command = "pwsh"
  args = ["-NoLogo"]
