{{- $machineType := "work" -}} {{/* Default to work */}}

{{- if hasKey . "machineType" -}}
  {{- $machineType = .machineType -}}
{{- else if env "CHEZMOI_MACHINE_TYPE" -}}
  {{- $machineType = env "CHEZMOI_MACHINE_TYPE" | lower -}}
{{- else if stdinIsATTY -}}
  {{- $machineType = promptStringOnce . "machineType" "Machine type (personal|work)" "work" | lower -}}
{{- end -}}

[data]
  machineType = {{ $machineType | quote }}

[interpreters.ps1]
  command = "pwsh"
  args = ["-NoLogo", "-NoProfile", "-ExecutionPolicy", "Bypass"]

[cd]
  command = "pwsh"
  args = ["-NoLogo"]
